<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">
  <head>
    <meta name="dtb:uid" content="978-1-907911-08-8"/><!-- UNIQUE ID-->
    <meta name="dtb:depth" content="1"/>
    <meta name="dtb:totalPageCount" content="0"/>
    <meta name="dtb:maxPageNumber" content="0"/>
  </head>
  <docTitle>
    <text>The Fall of the House of Usher</text>
  </docTitle>
  <navMap>
	
    <navPoint id="nav-copyright" playOrder="1">
      <navLabel>
        <text>Copyright</text>
      </navLabel>
      <content src="content/00copyright.html"/>
    </navPoint>
    <navPoint id="nav-title" playOrder="2">
      <navLabel>
        <text>Title</text>
      </navLabel>
      <content src="content/01title.html"/>
    </navPoint>
    <navPoint id="nav-credits" playOrder="3">
      <navLabel>
        <text>The Illustrator</text>
      </navLabel>
      <content src="content/02artist.html"/>
    </navPoint>
    <navPoint id="nav-story" playOrder="4">
      <navLabel>
        <text>The Story</text>
      </navLabel>
      <content src="content/03story.html"/>
    </navPoint>

  </navMap>
</ncx>