#welcome-canvas
  .inner
    %p Welcome to Pictorical!

    %p We are happy to welcome you to the Pictorical family. You are joining many talented emerging artists from all over the world, all sharing our mission of illustrating the world's greatest stories.

    %p
      And now
      = link_to "let's start illustrating your first story.", texts_path

