:css
  body {font: 12 "Verdana"; line-height: 2em}
require 'net/http'
%br
illustrations = []
%br

- @book.illustrations.active.each do |i|
  illustrations << {:tipe => '#{i.tipe}', :position => '#{i.position}', :name => '#{i.image_original_id}', :ext => "#{i.image_file_extension}" }
  %br

def download(illustrations)
%br
illustrations.each do |illustration|
%br
Net::HTTP.start("s3.amazonaws.com") do |http|
%br
if illustration[:tipe] == "cover"
%br
url = '/pictorical_publisher/' + illustration[:name] + '/original.' + illustration[:ext]
%br
else
%br
url = '/pictorical_publisher/' + illustration[:name] + '/i600w.' + illustration[:ext]
%br
end
%br
resp = http.get(url)
%br
filename = illustration[:tipe] + "_" + illustration[:position] + "_" + illustration[:name] + "." + illustration[:ext]
%br
open(filename, "wb") do |file|
%br
file.write(resp.body)
%br
illustrations.delete(illustration)
%br
puts filename + " downloaded, " + illustrations.count.to_s + " to go"
%br
end # |file|
%br
end # |http|
%br
end # |illustration|
%br
end # def
%br