%h1 todos los negros
- for illustration in @illustrations
  %p
    = image_tag illustration.inline.url(:i180w).downcase
    -#= image_tag illustration.inline.url(:i280w).downcase
    -#= image_tag illustration.inline.url(:i600w).downcase
  
= link_to 'otro negro', new_illustration_path
