body {
  font: 1em "Georgia", serif;
	padding: 5px; 
}

h1 {
  
  text-align: center;
  font-weight: normal;
  font-size: 2em;
	margin-bottom: 0.5em;
  
}

h2, h3 {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.3em; 
}

h2 {font-weight: bold;}

#container {
  
  width: 30em;
  margin: 0 auto;
  text-align: justify;
  
}


.parnum {
  
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: #f00;
  margin: 0.8em 0;
  margin-left: -3em;
  font-weight: bold;
  
}

p { margin: 0;}


.total {
  
  border: 2px solid #FFC300;
  padding: 10px;
  atext-align: center;
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 1.5em 0px 0.5em 0px;
  text-align: left;
  
}

.links {
  margin-top: 5px;
  
}

#number_of_illustrations, span.illustrations {
  
  color: #f00;
  font-size: 1em;
  margin: 0.5em 0;
  font-weight: bold;
  
}


#story a {display: none;}
#story .parnum a {display: inline;}
#story p {margin-bottom: 1em;}
	  
#story h1, h2 {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.3em; 
  margin: 2em 0px;
}

#header {
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  width: 100%;
  margin-bottom: 1em;
  
}


#header .nav {float: right; text-align: right;}
  
#header .help a {color: red; text-decoration: none; font-weight: bold;}
#header .help a:hover {background: red; color: white;;}



#artist_session {
	float: right;
	text-align: right;
	
}

#notice {
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

	background: #C2F982;
	text-align: center;
	margin-bottom: 1em;
	line-height: 2em;
	
}

#admin {
	margin-top: 2em;
	font: 60% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	
	
}

.field_container {
	margin-top: 1em;
	
}