/* line 6, ../../app/stylesheets/application.sass */
.red {
  color: #cb0802;
}
/* line 8, ../../app/stylesheets/application.sass */
.red:link, .red:visited {
  color: #cb0802;
}

/* line 10, ../../app/stylesheets/application.sass */
.green {
  color: #0a8b00;
}
/* line 12, ../../app/stylesheets/application.sass */
.green:link, .green:visited {
  color: #0a8b00;
}

/* line 15, ../../app/stylesheets/application.sass */
.yellowbg {
  background: #ffeeaa;
  padding: 3px;
}

/* line 19, ../../app/stylesheets/application.sass */
.half {
  margin: 0.5em 0;
}

/* line 22, ../../app/stylesheets/application.sass */
body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../../app/stylesheets/application.sass */
a {
  color: #4362ce;
  text-decoration: none;
}
/* line 28, ../../app/stylesheets/application.sass */
a:link, a:visited {
  color: #4362ce;
  text-decoration: none;
}
/* line 31, ../../app/stylesheets/application.sass */
a:hover {
  text-decoration: underline;
}

/* line 34, ../../app/stylesheets/application.sass */
#notice, #alert {
  padding: 5px;
  color: white;
  margin-bottom: 1em;
}

/* line 39, ../../app/stylesheets/application.sass */
#notice {
  background: #0a8b00;
}

/* line 42, ../../app/stylesheets/application.sass */
#alert {
  background: #cb0802;
}

/* line 45, ../../app/stylesheets/application.sass */
.section {
  margin-bottom: 1em;
}

/* line 48, ../../app/stylesheets/application.sass */
#userinfo, #title {
  padding: 10px 0;
}

/* line 51, ../../app/stylesheets/application.sass */
#userinfo {
  text-align: right;
}

/* line 54, ../../app/stylesheets/application.sass */
#title {
  padding: 10px 0;
}
/* line 56, ../../app/stylesheets/application.sass */
#title h1 {
  font-size: 20px;
}

/* line 60, ../../app/stylesheets/application.sass */
#left_bar h1, #left_bar h2 {
  margin-bottom: 0.5em;
  font-weight: normal;
}
/* line 63, ../../app/stylesheets/application.sass */
#left_bar h1 {
  font-size: 20px;
}

/* line 66, ../../app/stylesheets/application.sass */
.redbox {
  border: 2px solid #cb0802;
  padding: 5px;
  background: white;
}
/* line 70, ../../app/stylesheets/application.sass */
.redbox h3 {
  color: #cb0802;
  font-size: 15px;
  margin-bottom: 0;
}

/* line 75, ../../app/stylesheets/application.sass */
#container {
  padding: 20px;
}
/* line 77, ../../app/stylesheets/application.sass */
#container.gray {
  background: #f4f4f4;
}

/* line 80, ../../app/stylesheets/application.sass */
.inline, .cap, .cover {
  margin-bottom: 5px;
}

/* line 83, ../../app/stylesheets/application.sass */
.status {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px;
  display: inline-block;
  letter-spacing: 1px;
}
/* line 85, ../../app/stylesheets/application.sass */
.status.big {
  font-size: 14px;
}
/* line 91, ../../app/stylesheets/application.sass */
.status.review {
  background: #f9b900;
  color: black;
}
/* line 94, ../../app/stylesheets/application.sass */
.status.ok {
  background: #0a8b00;
  color: white;
}
/* line 97, ../../app/stylesheets/application.sass */
.status.not {
  background: #cb0802;
  color: white;
}

/* line 101, ../../app/stylesheets/application.sass */
#footer {
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

/* line 107, ../../app/stylesheets/application.sass */
#story p, #story h1 {
  margin: 1em 0;
  font: 16px "Georgia", "Trebuchet MS", Verdana, sans-serif;
}
/* line 110, ../../app/stylesheets/application.sass */
#story h1 {
  font-size: 24px;
  text-align: center;
}
/* line 113, ../../app/stylesheets/application.sass */
#story .inline {
  width: 100%;
}

/* line 117, ../../app/stylesheets/application.sass */
.sampler-ipad .ipad {
  width: 620px;
  height: 794px;
  background-image: url("/images/ipad-sample.jpg");
  font: 18px "Georgia", "Trebuchet MS", Verdana, sans-serif;
  margin-bottom: 30px;
}
/* line 123, ../../app/stylesheets/application.sass */
.sampler-ipad .ipad .inner {
  position: relative;
  top: 146px;
  left: 127px;
  width: 355px;
  height: 509px;
  overflow: hidden;
}
/* line 130, ../../app/stylesheets/application.sass */
.sampler-ipad .ipad .inner p {
  margin-bottom: 1em;
  text-align: justify;
}
/* line 134, ../../app/stylesheets/application.sass */
.sampler-ipad .ipad .inner img.inline {
  width: 100%;
  margin-bottom: 20px;
}
/* line 137, ../../app/stylesheets/application.sass */
.sampler-ipad .ipad .inner img.cap {
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 143, ../../app/stylesheets/application.sass */
.sampler-transparent {
  background-image: url("/images/transparent.png");
  width: 600px;
  min-height: 100px;
  margin: 0 auto;
}
