body {
	background: #EBEBEB;
}

#header { font: 0.75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }

#header .session {position: fixed; top: 0; right: 0; padding: 5px;}

#admin-canvas {
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background: white;
	padding: 10px;
}

#admin-canvas h1 {
	font-size: 1em;
	font-weight: bold;
}

#container .admin
{
	font: 0.75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 0.5em;
	
}

.admin a, .admin a:visited {color: #ff0000;}

#notice {
	
	color: #238B00;
	font: 0.75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin: 0.5em 0;
	}


#error_explanation {color: red;}

.invisible {color: #eee}

#text-canvas #title h1, #registration-canvas #title h1 {
	text-align: center;
	font: 2.5em "Georgia", "Trebuchet MS", Verdana, sans-serif;
	text-shadow: white 0px 1px 0px;
	margin: 0.5em auto;
}

#text-canvas h3{
	text-align: center;
	font: 1em "Georgia", "Trebuchet MS", Verdana, sans-serif;
	text-shadow: white 0px 1px 0px;
	margin-bottom: 1em;	
	text-transform: italic;
	
}


#text-canvas h3 .up {
	text-transform: uppercase;
	font-style: normal;
}

#text-canvas h4{
	font: 1.2em "Georgia", "Trebuchet MS", Verdana, sans-serif;
	text-shadow: white 0px 1px 0px;
	margin-bottom: 1em;	
	text-transform: italic;
	
}


#container {
	
	width: 36em;
	margin: 0 auto;
}


#action-box, #warning-box {
	background: #4E4646;
	padding: 0.5em;
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 1em;
	text-align: center;
	color: white;
}

#warning-box {background: #9D0000;}

#action-box h3 {
	font: 1.2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-shadow: none;
	margin: 0;
	margin-bottom: 0.5em;
}

a.choose, a.choose:visited {
	color: #A2E7F9;
	text-decoration: none;
	
}

a.choose:hover, a.choose:active {
	color: white;
	text-decoration: none;
	
}


a.blue, a.blue:visited {
	color: #A2E7F9;
	text-decoration: none;
	}
	
a.blue:hover, a.blue:active {
	text-decoration: underline;
	}	
	
a.yellow, a.yellow:visited {
color: #E6C200;
text-decoration: none;
}

a.yellow:hover, a.yellow:active {
text-decoration: underline;
}


a.green, a.green:visited {
color: #C1E00C;
text-decoration: none;
}

a.green:hover, a.green:active {
text-decoration: underline;
}

a.blue, a.blue:visited {
color: #A2E7F9;
text-decoration: none;
}

a.blue:hover, a.blue:active {
text-decoration: underline;
}

a.illustrate-this-link, a.illustrate-this-link:visited,
a.illustrate-current-link, a.illustrate-current-link:visited {
	display: inline-block;
	background: #A5BD00;
	padding: 0.25em;
	text-decoration: none;
	color: black;
}

a.illustrate-this-link:hover,
a.illustrate-current-link:hover {
	background: #F38E00;
	color: white;
}

a.illustrate-this-link:active,
a.illustrate-current-link:active {
	background: #000;
	color: white;
}

a.illustrate-change-link, a.illustrate-change-link:visited {
	display: inline-block;
	background: #ccc;
	padding: 0.25em;
	text-decoration: none;
	color: black;
}

a.illustrate-change-link:hover {
	background: #F38E00;
	color: white;
}

a.illustrate-change-link:active {
	background: #000;
	color: white;
}


#story {
	
	font: 1em "Georgia", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
	
	background: white;
	padding: 2em;
	

	text-align: justify;
	
}

.textlist {
	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background: white;
	padding: 1em;
	padding-bottom: 0.5em;
	
}

.textlist a {text-decoration: none;}

.onetext {
	margin-bottom: 1em;
	
}

.textlink {
	margin-bottom: 0.2em;
	
}
.textinfo {
	
	font: 0.75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #555;
	margin-top: 0;
}

#story p { margin: 0; margin-bottom: 1em;}

.parnum {
	
	color: red;
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 1em;
	
	}



#registration-canvas #container .insider
{
	background: white;
	padding: 1em;
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;	
}

#registration-canvas input, #registration-canvas select {
	
	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;	
	
}

#registration-canvas abbr {
	color: red;
	
}

#registration-canvas .label {
	font-weight: bold;
	margin-bottom: 0.25em;
}

#login-canvas {
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;	
	
}

.required {
	color: #A11E22;
	font-weight: normal;
}

.optional {
	color: #2C79C1;
	font-weight: normal;
	
}

#registration-canvas .label2 {
	color: #666;
	margin: 0.25em 0;
}

#registration-canvas .input {
	margin-bottom: 1.5em;
	
}

.field-block {
	display: inline-block;
	
}

.left {
	text-align: left;
}

.tutorial {
	
}

#message-canvas {
	
	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;	
	width: 30em;
	background: white;
	margin: 5em auto;
	padding: 1em;
	
}

#message-canvas h1 {
	font-size: 2em;
	text-align: center;
}

#message-canvas input {
	font-size: 1em;
	
}

#artist_session a {
	
	color: #AC5500;
	text-decoration: none;
	
}

#artist_session a:active, #artist_session a:hover {
	
	color: #F66A00;

	
}

#static-canvas {
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	
}

#static-canvas .inner {
	width: 60em;
	background: white;
	padding: 1em;
	text-align: left;
	margin: 0 auto;
	
}

#admin-bar {
	font: .75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background: #fea;
	padding: 0.5em;
	position: fixed;
	top: 0;
	right: 0;
	
}

#admin-bar a, #admin-bar a:visited {
	color: red;
	text-decoration: none;
}

#admin-bar a:hover {
	text-decoration: underline;
}

#admin-bar .header {
	font-size: 150%;
	margin-top: 0.5em;
	
}

.all_authors {
	font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	
}

.all_authors a {text-decoration: none;}

#multitext {
	font: 0.75em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin: 1em 0;
	
}

#story h1 {
	font-size: 1.5em;
	text-align: center;
	
}

#warning-box a, #warning-box a:visited { color: white;}

.deleted {text-decoration: line-through}