= "Hi #{@user[:first_name]},"

We checked your first illustration for
= @user.active_book.title
and everything's fine!

What's next?

Go to http://publisher.pictorical.com, log in and you will find your book to keep on illustrating it.

Feel free to email us at artists@pictorical.com and tell us your progress and ask questions.

Happy illustrating!

The Pictorical Team

Victor and Mauko
