%p= "Hi #{@user[:first_name]},"

%p
  We checked your first illustration for
  %b= @user.active_book.title
  and everything's fine!

%p
  %b What's next?

%p
  Go to
  = link_to "Pictorical's Publisher", "http://publisher.pictorical.com"
  , login and you will find your book to keep on illustrating it.

%p Feel free to write us to artists@pictorical.com and tell us your advances and ask your questions.

%p Happy illustrating!

%p
  The Pictorical Team
  %br
  Victor and Mauko
