= "Hi #{@user[:first_name]},"

We checked your first illustration for
= @user.active_book.title
and everything's fine!

What's next?

Go to
= link_to "Pictorical's Publisher", "http://publisher.pictorical.com"
, login and you will find your book to keep on illustrating it.

Feel free to write us to artists@pictorical.com and tell us your advances and ask your questions.

Happy illustrating!

The Pictorical Team

Victor and Mauko
