Hi #{@user.first_name},
  
Your book, "#{@book.title}," has expired.

Books expire after 2 weeks if you don't upload an illustration. We do this to give all of the artists the same opportunity to illustrate the texts they want.

You can go to http://publisher.pictorical.com to choose a new story to illustrate or if you want to pick "#{@book.texts.first.title}" again, then you have to wait until aweek from today to begin illustrating the book again.
  
If you have any questions, or need help choosing your next story, you can reach us at artists@pictorical.com
  
Kindest regards,
  
The Pictorical Team