Hi #{@illustration.user.first_name},

Read the new feedback for your illustrations for #{@illustration.book.title} in

http://publisher.pictorical.com/#{edit_book_path(@illustration.book)}

A hug,

Victor and Mauko
Pictorical Team