%p
  Hi #{@illustration.user.first_name},

%p
  We have
  = link_to "new feedback", "http://publisher.pictorical.com"
  for your illustrations for #{@illustration.book.title}

%p
  You can read your book and upload your illustrations in
  = link_to "http://publisher.pictorical.com", "http://publisher.pictorical.com"


%p
  A hug,

%p
  Pictorical Team