Hi #{@illustration.user.first_name},

= link_to "Read the new feedback", "http://publisher.pictorical.com/" + edit_book_path(@illustration.book)
for your illustrations for #{@illustration.book.title}

A hug,

Pictorical Team