= "Hi, #{@book.user[:first_name]}"

= "We have just published #{@book.text[:title]} in Apple iBookstore"

It usually takes one week for the book to appear in the store and start selling. 

We invite you to illustrate a new book with us. You can go to http://publisher.pictorical.com and choose a new book.

If you have any questions you can write to artists@pictorical.com. We are happy to help.

Cheers,

Your friends at Pictorical