%p= "Dear #{@name},"

%p
  Thank you for submitting your portfolio to Pictorial. Unfortunately, we will have to pass but appreciate the opportunity to view your illustrations. Please know that we can only accept a small percentage of the artists who submit to Pictorial, and that you should not feel discouraged.

%p
  We wish you luck placing your work elsewhere.

%p
  The Pictorical Team