Hi #{@user.first_name},

Just a friendly reminder that we are waiting for your first illustration for the book #{@book.title}.

We will reserve your book until #{@expiration}. If we haven't received your first illustration by then, we will make your book available to other artists.

You can read your book and upload your illustrations in http://publisher.pictorical.com

If you have any questions, you can reach us at artists@pictorical.com

Kindest regards,

The Pictorical Team