= "Hi, #{@book.user[:first_name]}"

= "Thanks for publishing your book #{@book.text[:title]}"

We are checking it, and if everything is ok, we will publish it in the next few days.

We will send you an email confirmation as soon as we publish it.

If you have any questions you can write to artists@pictorical.com. We are happy to help.

Cheers,

Your friends at Pictorical