= "Hi #{@book.user[:first_name]},"

Thanks for sending us
= @book.title
We will check everything's fine, build your book and publish it to Apple iBookstore.

We will write you again when your book is published.

In the meanwhile we would like to hear from you how was your experience using our website, and if you have any reccomendations and ideas that can help us improve. You can write us to
= link_to "artists@pictorical.com", "mailto:artists@pictorical.com"

You will hear from us soon,

The Pictorical Team

Victor and Mauko