= "Hi #{@user.first_name},"

We very excited to have you on board!

What's next?

The first step is to choose a story to illustrate. Go to
= link_to "Pictorical publisher", "http://publisher.pictorical.com"
and choose among many stories we have available. If you can't find a classic story in our collection, just write us to
= link_to "books@pictorical.com", "mailto:books@pictorical.com"
and we will find it for you.

Before you start your first book, we have to learn how to work together. After you choose the story you want to illustrate, we will train you on our artwork guidelines, such as image size, file format, and other technical bits that helps us working together to produce awesome books.

Let's start working together to bring your illustrations to the world!

Happy story-choosing and welcome to Pictorical.

The Pictorical Team

Victor & Mauko
