= "Hi #{@user.first_name},"

We’re very excited to have you on board!

What's next?

The first step is to choose a story to illustrate. Go to http://publisher.pictorical.com and choose from the many stories we have available.

Let's start working together to bring your illustrations to the world!

Happy story-choosing, and welcome to Pictorical.

The Pictorical Team

Victor and Mauko