= "Hi #{@user.first_name}"

We very excited to have you on board!

Let's start working together to bring your illustrations to the world!

= "The first step is to choose a story to illustrate. Go to #{@url}"

and choose among many stories we have available. If you are looking for a specific story and you can't find it in our collection, just write us to books@pictorical.com and we will find it for you.

As you are just starting, we have to learn how to work together. We will ask you to do one illustration for the story you choose, then we will check everything is OK and then you can finish working on your book.

Happy story-choosing and welcome to Pictorical.

Victor