= "Hi #{@user.first_name},"

We’re very excited to have you on board!

What's next?

The first step is to choose a story to illustrate. Go to http://publisher.pictorical.com and choose from the many stories we have available. If you can’t find a particular classic story in our collection, just email us at books@pictorical.com and we will find it for you.

Before you start on your first book, we have to learn how to work together. After you choose the story you want to illustrate, we will train you in our Artwork Guidelines, such as image size, file format, and other technical matters that help us to work together to produce awesome books.

Let's start working together to bring your illustrations to the world!

Happy story-choosing, and welcome to Pictorical.

The Pictorical Team

Victor and Mauko