%p= "Hi #{@user.first_name},"

%p We very excited to have you on board!

%p
  %b What's next?

%p
  The first step is to choose a story to illustrate. Go to
  = link_to "Pictorical publisher", "http://publisher.pictorical.com"
  and choose from the many stories we have available.

%p Let's start working together to bring your illustrations to the world!

%p Happy story-choosing, and welcome to Pictorical.

%p
  The Pictorical Team
  %br
  Victor and Mauko

