- title "Copyright Notice"

#static-canvas

  #title
    %h1 Copyright Notice
  .inner

    %p This website and its content is copyright of Pictorical Ltd - &copy; Pictorical Ltd 2011. All rights reserved.
    %p Some of the artwork is copyright of the respective artist.
    %p Any redistribution or reproduction of part or all of the contents in any form is prohibited.
    %p You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
