.section
  .item
    This book has #{@book.words} words
  .item
    We recommend #{@book.illustrations_lower}—#{@book.illustrations_upper} illustrations
  .item
    You have uploaded #{@book.illustrations.active.count} illustrations