- title "Success!"

#welcome-canvas
  %h1 Success!
  .inner
    %p Thanks! We received your book and will make sure everything is fine before publishing your illustrated book in Apple iBookstore.
    %p
      This can take 1-2 weeks. Feel free to check the status of your book anytime at
      =link_to "ask@pictorical.com", "mailto:ask@pictorical.com"
    %p
      Be inspired by choosing your next book
      = link_to "here.", texts_path