- title "Success!"
#welcome-canvas
  %h1 Thanks!
  .inner
    %p Success! We received your book. We will check everything is fine, then we will build and publish your illustrated book in Apple iBookstore.
    %p
      This can take between one and two weeks. If you feel impatient, don't worry. You can ask us for the status of your book in
      =link_to "ask@pictorical.com", "mailto:ask@pictorical.com" 