- title "Success!"
#welcome-canvas
  %h1 Success!
  .inner
    %p Thanks! We received your book. We will check everything is fine, then we will build and publish your illustrated book in Apple iBookstore.
    %p
      This can take between one and two weeks. If you feel impatient, don't worry. You can ask us for the status of your book at
      =link_to "ask@pictorical.com", "mailto:ask@pictorical.com"
    %p
      In the meanwhile, you can start looking for
      = link_to "your next book.", texts_path