- title "Pictorical, choose a story"
#text-canvas

  #notice
    = notice

  #title
    %h1 Choose a story

  #container
    - @authors.each do |author|
      %h4
        = author.name
        %span.up= author.last_name
      .textlist
        - author.texts.each do |text|
          %p
            = link_to text[:title], text
            %span.textinfo Hola
