- title "Pictorical : New text"

- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"



#admin-canvas
  %h1 New text
  = render 'form', :text => @text