- title "Pictorical : New text"

- content_for :navbar do
  &nbsp;
  - if notice 
    #notice
      = notice
  - if alert
    #alert
      = alert
      
#admin-canvas
  %h1 New text
  = render 'form', :text => @text