%p text#show

%h1
  = @text.title
%h2
  = @text.author
// incluir número de ilustraciones
illustrate_link
  = link_to "illustrate this story", :controller => "books", :action => "create", :text_id => @text.id #revisa la sintaxis plz

content
  = @text.content
